*{
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
    border: none;
    outline: none;
    font-family: 'Open Sans', sans-serif;
}

:root{
    --text-color:white;
    --bg-color:black;
    --main-color:orange;

    --h2-font:3rem;
    --h1-font:6rem;
    --p-font:1rem;
}

body{
    background-color: black;
    color: var(--text-color);
    margin-bottom: 1000px;
}

header{
    position: fixed;
    top:0;
    left: 0;
    z-index: 1000;

    width: 100%;
    background-color: transparent;
    padding:17px 5px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    transition: all .50s ease;

    

}

.logo{
    font-size: 33px;
    color: var(--text-color);
    font-weight: 700;
    text-decoration: none;

    margin-left:10px;
}

span
{
    color: var(--main-color);
}

.navbar
{
    display: flex;
}

.navbar li{
    list-style: none;
}
.navbar a{
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 500;
    margin: 15px 22px;
    transition: all .50s ease ;

    text-decoration: none;
    cursor: pointer;
}
.navbar a:hover
{
    color: var(--main-color);

}

.h-right{
    display: flex;
    align-items: center;
    
}

.h-right a:first-child{
    color: var(--text-color);
    font-size: var(--p-font);
    margin-right: 20px;

}

.h-right a:nth-child(4){
    margin-right: 20px;

}
.h-right a:first-child:hover{
    color: var(--main-color);
}

.h-right a{
    vertical-align: middle;
    font-size: 20px;
    color: var(--text-color);
    margin-right: 18px;
    margin-left: 5px;
    transition: all 0.5 ease;

    text-decoration: none;
}

.h-right a:hover{
    color: var(--main-color);
}
.ri-menu-line{
    font-size: 27px;
    margin-right: 10px;
}


/*home*/
section{
    padding:200px 17px 1000px;
}

.home
{
 
     height: 40vh;
     width: 97%;

     background-image: linear-gradient(to left, rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url('./img/Background.png');

    background-size: cover;
    background-position:bottom center;

    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.home-text h5{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;

    text-transform: uppercase;

    color: var(--main-color);
    letter-spacing: 6px;
}

.home-text h1{
    font-size: var(--h1-font);
    font-weight: 800;

    line-height: 1.2;
    margin-bottom: 20px;

}

.home-text p{
    font-size: var(--p-font);
    font-weight: 300;
    line-height: 30px;
    color: whitesmoke;
    margin-bottom: 35px;
}

.btn{
    display: inline-block;
    padding: 13px 40px;
    background-color: var(--main-color);
    color: var(--bg-color);
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;

    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 0.5s ease;
    cursor: pointer;

}

.btn:hover{
    transform: translateX(10px);
    border: 2px solid var(--text-color);
    background-color: transparent;
    color: var(--main-color);
}

header.sticky
{    /*This thing is new to me*/
    padding:7px ;
    background-color: transparent;
   
    backdrop-filter: blur(35px);
}

.feature-container
{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,auto));

    align-items: center;
    text-align: center;
    gap: 3rem;
}

.row-img
{
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.row-img img{
    width: 100%;
    transition: 0.7s;
}

.row-img img:hover{
    transform: scale(1.2);
}

.feature-container h4{
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.5s ease;
}

.feature-container h4:hover{
    color: var(--main-color);
}


