*{
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
    border: none;
    outline: none;
    font-family: 'Open Sans', sans-serif;
}
body
{
    background-color: black;
}

header{
    position: fixed;
    top: 0;
    width: 100%;

    z-index: 2;

    transition:  all 0.5s ease;

}

