.page1 {
    height: 100vh;
}
body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    display: grid;
    grid-template-areas: 
        "header header header"
        "side article"
        "footer footer";

}
.header {
    grid-area: header;
    height: 20vh;
    background-color: plum;
}
.side {
    grid-area: side;
    background-color: lightblue;
}
.article {
    grid-area: article;
    background-color: lightgreen;
}
.footer {
    grid-area: footer;
    background-color: lightcoral;
}
