
body {
    background-color: black;
}
.header{
    height: 10vh;
}
.container{
    height: 80vh;
   
}
.footer{
    height: 10vh;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}
.left{
   
    width: 350px;
    margin-right:45px;
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center;
}
.left img{
    margin-left:30px;
    width: 30%;
    cursor: pointer;
}
.middle{
   
    width: 450px;
    margin-right:45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: center;

}
.middle p{
    color:rgb(185, 185, 185);
    cursor: pointer;
    transition: 0.15s;
    font-size: 17px;
}
.middle p:hover{
    color:white;
}

.right{
   
    width: 400px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.right button{
    margin-right:30px;
    padding: 14px;
    padding-top: 10px;
    padding-bottom: 11px;
    font-weight: bold;
    color:white;
    background-color: rgb(35, 35, 35);
    border:none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.15s;
}
.right button:hover{
    border:0.1px solid gray;
}
.letter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 75px;
    text-align: center;
}
.letter h1{
    font-size: 80px;
    margin-bottom: 0px;
    font-weight: bolder;
    color:white;
    font-family:sans-serif;
}
.letter h4{
    color:rgb(147, 147, 147);
    font-weight: bold;
    font-size: 22px;
    font-family:sans-serif;
}

.letter button{
    color:white;
    background-color: rgb(36, 36, 36);
    padding:15px;
    padding-left:30px;
    padding-right: 30px;
    text-align: center;
    align-items: center;
    display: flex;
    gap:5px;
    font-weight: bolder;

    border:0.5px solid;
    border-color: black;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.15s;
}
.letter button:hover{
   border:0.3px solid rgb(110, 110, 110);
}





