body {
    margin: 0;
    padding: 0;
    background-color: rgb(35, 35, 36);
    color:white;

    font-family: sans-serif;
   color:black;
    margin-bottom: 1000px;
}
.header{
    height: 10vh;
    display: flex;
    flex-direction: row;
    position: fixed;
    top:0px;
    left:0px; 
    right:0px;
    height: 10vh;
    background-color: black;
}
.container{
    height: 85vh;
    background-image: url(b1.svg);
    padding-top: 10vh ;
}
.left{
    flex:5;
    margin-right:50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.right{
  
    flex:2;
}
.left h5{
    font-size: 16px;
    font-weight: bold;
    color:white;
}
/* This is a dropdown */
.dropdown a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 5px;
    color:white;
}
.dropdown .content{
  position: absolute;
  background-color:rgb(31, 31, 31);
  padding: 15px;
  box-shadow: 2px 2px 5px rgb(45, 45, 45);
  display: none;
  border: none;

  
}
.dropdown:hover .content{
    display: block;
}
/* dropdown end */
.right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.dropdown h4{
    font-size: 16px;
    font-weight: bold;
    color:white;
    
}
.right button{
    padding: 10px 15px;
    border:none;
    background-color: rgb(31, 91, 242);
    color:white;
    border-radius: 5px;
}
/*Page1*/
.page1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60vh;
}
.page1 h1{
    font-weight: bolder;
    font-size: 38px;
    margin:0px;
    color: black;
}
.page1 h3{
    font-weight: bold;
    font-size: 18px;
    color: black;
}
.bt{
    padding: 13px 23px;
    color:white;
    background-color: skyblue;
    border:none;
    border-radius: 10px;
    cursor: pointer;
}
.bt2{
    padding: 13px 23px;
    color:white;
    background-color: lightgreen;
    border:none;
    border-radius: 10px;
    cursor: pointer;
}

.letter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    text-align: center;


}
.page2{
    height: 100vh;
    margin:0px;
    padding: 60px 10%;
}
.page2 h1,h4 {
    color:white;
    margin-bottom: 0px;   
}
.letter h1{
    font-weight: bolder;
    font-size: 45px;
}
.letter h4{
    font-weight: bold;
    font-size: 18px;
    color:gray;
}
